{{extend 'layout.html'}}



<table width="100%"  height="100%"   border="0" cellspacing="0" cellpadding="0" style="background-color:#FFFFFF;" >
 
  <tr  height="1px" >
    <td colspan="3" ></td>
  </tr>

  <tr>
    <td>
    <table border="0" cellspacing="0" cellpadding="0" style="background-color:#FFFFFF;" >
      <tr height="30px" >
        <td width="500" style="background-color:#FFFFFF;" >
          <span class="blackCatTitle">&nbsp;New Order</span>
        </td>
        <form action="{{=URL(c='order',f='order',args=[page])}}" method="post">
          <td width="400" align="right"><input name="" type="submit"  value="Back"/></td>
          </form>
        <td width="500" >&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr  height="1px" style="background-color:#CCCCCC;">
        <td colspan="3" ></td>
      </tr>
    </table>

    <table width="100%" align="left" height="100%" border="0"  cellpadding="0" cellspacing="0" style="margin-left:auto;margin-right:auto;background-color:#F5F5F5; font-size: small;" >
      <tr>
        <td height="80%" valign="middle">
                            <!-- INSERT-->
      <form  name="form1" action="{{=URL(c='web_order',f='new_web_order_entry')}}" method="post"  >
        <table width="100%" align="left" cellpadding="2" class="rounded_corner" style="background-color:#F5F5F5">
          
          
          <tr>
            <td width="100px" style="vertical-align: middle;">Name<font style="color:#B93976; font-size:20px">*</font></td>
            <td width="10px" style="vertical-align: middle;font-size: 20px;">:</td>
            <td style="padding-top:5px">
              {{if session.Name == '' or session.Name == 'None' or session.Name == None:}}
              <input type="text" name="Name" id="Name" value="" placeholder="Name" style="width:200px" required />
              {{else:}}
              <input type="text" name="Name" id="Name" value="{{=session.Name}}" placeholder="Name" style="width:200px" required />
              {{pass}}
            </td>
        
          </tr>
        
          <tr>
            <td width="100px" style="vertical-align: middle;">Mobile</td>
            <td width="10px" style="vertical-align: middle;font-size: 20px;">:</td>
            <td style="padding-top:5px">
              {{if session.mobile == '' or session.mobile == 'None' or session.mobile == None:}}
              <input type="text" name="mobile" id="mobile" value="" placeholder="Mobile" style="width:200px" required />
              {{else:}}
              <input type="text" name="mobile" id="mobile" value="{{=session.mobile}}" placeholder="Mobile" style="width:200px" required />
              {{pass}}
            </td>
          </tr>
          <tr>
            <td width="100px" style="vertical-align: middle;">Address</td>
            <td width="10px" style="vertical-align: middle;font-size: 20px;">:</td>
            <td style="padding-top:5px">
              {{if session.address == '' or session.address == 'None' or session.address == None:}}
              <input type="text" name="address" id="address" value="" placeholder="Address" style="width:200px" required />
              {{else:}}
              <input type="text" name="address" id="address" value="{{=session.address}}" placeholder="Address" style="width:200px" required />
              {{pass}}
            </td>
          </tr>
          
          </tr>
        </table>
          

        
    </form>

        <table  border="1" cellpadding="1" cellspacing="2" class="sample_border"  >

          <tr class="blackCatHead" style="background-color: #c4e3ec;">
            <td width="300px" style="vertical-align: middle; padding-left: 10px; height: 30px;">Item</td>
            <td width="80px"  style="vertical-align: middle;">QTY</td>
            
          </tr>

          {{if len(order_temp_record) > 0:}}
          {{
            for i in range(len(order_temp_record)):
                records_ov_dict=order_temp_record[i]  
                record_id=str(records_ov_dict["id"]) 
                item_name=str(records_ov_dict["item_name"])
                quantity= records_ov_dict["quantity"]
          }}

        <tr  align="left" class="blackCat"  style="vertical-align:middle">
          
            <td style="vertical-align: middle;padding-left: 5px">{{=item_name}}</td>
            <td style="vertical-align: middle;"><input type="number"></td>
            
            {{pass}}
          </tr>

          

          <tr style="border:none">
           <td colspan="10" style="height:30px;border: none;">&nbsp;&nbsp;</td>
          </tr>

          <tr class="blackCat">
            <form  name="form2" action="{{=URL(c='web_order',f='new_web_order_entry', args = [order_sl])}}" method="post"  >
              <td colspan="2"  align="left" width="120px" style="vertical-align: middle;border: none;padding-left: 10px;">
                <input  type="submit" name="cancel_btn" id="cancel_btn" value="Order Cancel" style="vertical-align:middle;height:35px;background-color: #CA786B;color: #FFFFFF; width:120px;" />
              </td>
            </form>
            <form  name="form2" action="{{=URL(c='web_order',f='new_web_order_entry', args = [order_sl, net_total ])}}" method="post"  >
              <td colspan="6"  width="120px" align="right" style="vertical-align: middle; border: none;">
                <input  type="submit" name="submit_all_btn" id="submit_all_btn" value="Submit" style="vertical-align:middle;height:35px ; width:120px; background-color: #5C72F0;color: #FFFFFF;" />
              </td>
            </form>
          </tr>
            {{else:}}
          <tr >
             <td></td>
             <td></td>
              
          </tr>
            {{pass}}
          <tr>
            <td height="300px">&nbsp; &nbsp; &nbsp; &nbsp;</td>
          </tr>

          <tr height="1px" style="background-color:#CCCCCC;">
            <td colspan="20"></td>
          </tr>
    </table>

  </td>
  </tr>
        
</table>
